@import '../../assets/common.scss';

.home__wrapper {
  position: relative;
  .connection__blocks {
    width: 100%;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .connection__block {
      background-color: map-get($color, 'primary');
      color: white;
      text-decoration: none;
      width: 30%;
      max-width: 200px;
      height: 100px;
      border-radius: 4px;
      margin: 10px;
      text-align: center;
      line-height: 100px;
      transition: 0.8s;

      &:hover {
        background-color: map-get($color, 'primary-hover');
      }
    }
  }
}
